<!DOCTYPE html>
<html lang="en">

<head>
    <title>Morekuru</title>
    <!-- <link href="static/login.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='rewards.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="sidebar">
        <div class="logo-circle">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFswFu01B03xoKWZgyFipvh7uRqroVHruodA&s"
                alt="Logo">
        </div>
        <div class="user-card">
            <h3>User1</h3>
            <p>user1@gmail.com</p>
            <p class="points">200 Loyalty Points</p>
        </div>

        <nav style="display:flex; flex-direction:column; gap:20px; text-align:left; width:100%; padding:0 20px;">
            <a href="{{ url_for('dashboard') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Dashboard</a>
            <a href="{{ url_for('balances') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Points & Balance</a>
            <a href="{{ url_for('transaction') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Transactions</a>
            <a href="{{ url_for('rewards') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Rewards Marketplace</a>
            <a href="{{ url_for('tiers') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Tiers </a>
            <a href="{{ url_for('sharepoints') }}"
                style="text-decoration:none; color:white; font-size:16px; padding:10px; border-radius:8px; transition:0.3s;">
                Share my points</a>

            <a href="#" style="color:#ffcccc; margin-top:auto; font-weight:bold; padding:10px;"> Log Out</a>
    </div>

    <div class="main-bar">
        <div class="title-card">
            <h2>Marketplace & Rewards</h2>
        </div>
        <div class="main-content">
            <h2>Rewards & Marketplace</h2>
            <div class="rewards-grid">
                <div>Gift card
                    <button class="btn-redeem">Redeem</button>
                </div>
                <div>Grocery voucher
                    <button class="btn-redeem">Redeem</button>
                </div>
                <div>Discount Coupon
                    <button class="btn-redeem">Redeem</button>
                </div>
                <div>Cash back
                    <button class="btn-redeem">Redeem</button>
                </div>
            </div>
            <div>
                <h2>Promotion</h2>
            </div>
            <div>Spend R2000 or more this month and earn a bonus 200 points</div>
        </div>
    </div>

</body>

</html>