<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <!-- <link href="static/login.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='rewardshub.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="nav-bar">
        <div>
            <img src="" alt="image-logo">
            <p>User@gmail.com</p>
        </div>

        <ul>
            <li>Dasboard</li>
            <li>Points & Balance</li>
            <li>Rewards Marketplace</li>
            <li>Tiers</li>
            <li>Share my points</li>
        </ul>
    </div>
    <div class="main-bar">
        <div class="title-card">2</div>
        <div class="main-content">3</div>
    </div>
</body>